.banner{
    background-image: url("resources/Banner\ Image.png");
    background-repeat: no-repeat;
    height: 600px;
    width: 95%;
    align-items: center;
    margin: auto;
}
.wish{
    text-align: center;
    color: white;
    padding-top: 10%;
    
}
.Celebration{
    margin-top: 0;
    font-size:50px;
}
.offer{
    text-align: center;
    margin-top: 80px;
    padding: 15px;
}
.percent{
    color: red;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
}
.offer img {
    height: 400px;
    width: 600px;
}
.Party{
    background-image: url("resources/Vectorrr.png");
    background-repeat: no-repeat;
    height: 600px;
    width: 90%;
    align-items: center;
    margin-top: 90px !important;
    margin: auto;
   color: white;
   display: flex;
   justify-content: space-around;

}
.price{
    text-align: center;
    height: 350px;
    padding-top: 50px;
 
    font-size: 30px;
    background-color: rgb(247, 229, 229);
    margin: 50px 70px;
    border-radius: 10px;
    
}
.red {
    color: red;
}
.btn1{
    color: white;
    background-color: red;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}
.newOff{
    display: flex;
    margin: 5%;
    justify-content: space-between;
}
.col1{
    width: 30%;
}
.bimage {
    height: 300px;
    width: 300px;
    border: 8px solid red;
    border-radius: 300px;
    padding: 12px;
}
.textC{
    margin-top: 50px;
}
.fuction{
    text-align: center;
    margin: 50px 120px ;
  
}
.top {
    
   
    width: 550px;
    height: 400px;

    background-image: url("resources/Rectangle\ 1.png");
    background-repeat: no-repeat;

     background-size: 65% 100%;
     background-position: right;
     margin-right: 10% ;
    
    
}
.sale{
    display: flex;
    justify-content: space-between;
}
.bottom{
    background-image: url(resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    width: 80%;
    height: 150px;
    margin: auto;
}
.sale img {
    width: 300px;
    height: 300px;
    

}
.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;

}